*.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

gradle/wrapper/gradle-wrapper.properties
app/build.gradle
local.properties
gradle.properties
settings.gradle
app/proguard-rules.pro
build.gradle
app/src/main/java/com/Example/iJam/ServerManager.java
IJam.iml
app/app.iml